<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog for YK</title>
</head>
<body>
{% for index in list %}
    {{ index }}
{% endfor %}
</body>
</html>


$.ajax({
            url: '/authenticator/submit_form',
            type: 'post',
            data: postData,
            success:function (res) {
                if(res.code == 200) {
                    alert("Success")
                } else {
                    alert("Failed")
                }
            },
            error:function () {
                alert("error")
            }
        });

